body {
    background-color: #f0f0f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0078D4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005A9E;
}

canvas {
    display: none;
    margin-top: 20px;
}

#downloadLink {
    display: none;
    margin-top: 10px;
    text-decoration: none;
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#downloadLink:hover {
    background-color: #005A9E;
}
